h1{
    color: blue
}
article{
    background-color: aqua;
    background-image: url("https://mail.google.com/mail/u/0/?ui=2&ik=cf039589e8&attid=0.1&permmsgid=msg-f:1834659389395678199&th=197604fe84c3b3f7&view=fimg&disp=thd&attbid=ANGjdJ90LAPkgmz6SIuUS3sG7ii2aQs3-E9KmDlv6lVCqul8MA-IVPdrVvLvmzuyJpntxlJV1-p3dRX15NLQ4DP5gctu8L-JigM0Q-i6uDIg7xYtQD6L3fe3cSXFkmY&ats=2524608000000&sz=w1920-h912");
    
}