h1
{
    color: green; 
    font-family: 'Times New Roman', Times, serif;
}
article
{
    background-color:antiquewhite;
    background-image: url("https://i.pinimg.com/originals/fe/91/03/fe910313102e877ffe09e98ffcbeeb3c.jpg");
    width: 500;
    height: 500;
    color: green;
    font-family: 'Times New Roman', Times, serif;
}

.blur 
{
    backdrop-filter:blur(5px);
    background-color:antiquewhite;
}

div p
{
    color:antiquewhite;
}

a:hover 
{
    color: black;
}

input[type="text"]
{
    border: 1px solid purple;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: antiquewhite;
}

.item
{
    flex:1;
    align-self: center;
}
